<%= form_for [@user, @shop] do |f| %>
<% if @shop.errors.any? %>
	<div class="error_message">
		<h2>Ops!</h2>
		<ul>
			<% @shop.errors.full_messages.each do |attr, msg| %>
				<li><%= attr %><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="form-group">
	<%= f.label :shop_name, 'Shop Name' %>
	<%= f.text_field :shop_name, class: "form-control", placeholder: 'Shop ABC', autofocus: true %>
</div>
<div class="form-group">
	<%= f.label :shop_phone_number_1, 'Phone Number (Primary)' %>
	<%= f.text_field :shop_phone_number_1, class: "form-control", placeholder: 'Ex: 012345678' %>
</div>
<div class="form-group">
	<%= f.label :shop_phone_number_2, 'Phone Number (Secondary)' %>
	<%= f.text_field :shop_phone_number_2, class: "form-control", placeholder: 'Ex: 012345678' %>
</div>
<div class="form-group">
	<%= f.label :shop_address, 'Shop Address' %>
	<%= f.text_area :shop_address, class: "form-control", cols: 4, rows: 5, placeholder: 'Shop Address' %>
</div>
<div class="form-group">
	<%= f.submit class: "btn btn-primary btn-lg pull-right" %>
</div>
<% end %>