<div class="container">
	<div class="col-md-12">
		<div class="col-md-10 col-xs-offset-1">
			<div class="panel">
				<div class="panel-body">
					<h1>User Profile</h1>
					<div class="page-header">
						<h3>General Information</h3>
					</div>
					<p>
						<strong>Fullname: </strong> <%= @user.fullname %>
					</p>
					<p>
						<strong>Username: </strong> <%= @user.username %>
					</p>
					<p>
						<strong>Email (current): </strong> <%= @user.email_address %>
					</p>
					<div class="page-header">
						<h3>Details</h3>
					</div>
					<p>
						<strong>Company Name: </strong> <%= @user.main_shop_name %>
					</p>
					<p>
						<strong>Company Registration Number: </strong> <%= @user.registration_number %>
					</p>
					<p>
						<strong>Company Address: </strong> <%= @user.main_shop_address %>
					</p>
					<p>
						<strong>Phone (Primary): </strong> <%= @user.main_shop_phone_1 %>
					</p>
					<p>
						<strong>Phone (Secondary): </strong> <%= @user.main_shop_phone_2 %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>