<!DOCTYPE html>
<html>
  <head>
    <title>Rails POS System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render "partials/headers" %>
		<div class="container">
      <div class="row">
        <div class="col-11">
          <div class="text-center">
            <% flash.each do |name, msg| %>
              <strong>
                <%= content_tag :div, msg, class: "alert-#{name} col-md-5 offset-4 text-alert" %>
              </strong>
            <% end %>
          </div>
        </div>
      </div>
    	<%= yield %>
		</div>
  </body>
</html>
